a{
	text-decoration: none;
}
.v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle{
	font-size: 1rem;
}
.v-tab{
	font-size: 1rem;
}

// 路由切换动画
.fade-enter-active,
.fade-leave-active {
  transition: all .5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.fade-move {
  transition: all .5s;
}
